@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Gurajada&family=Lemonada:wght@400;500;600&family=RocknRoll+One&display=swap');

:root {
    font-family: 'Lemonada', cursive;
    font-size: calc(12px + 0.8vw);
    --w: 70%;
    --increment: 15%;
}

body {
    background-color: #d897d3;
    background-image: url("https://www.transparenttextures.com/patterns/dotnoise-light-grey.png");
}

/* HEADER */

#banner {
    position: relative;
    margin: 0 auto;
    width: var(--w);
    height: auto;
    z-index: 1;
}

#lovevimto {
    position: absolute;
    top: 5%;
    left: 49%;
    transform: translateX(-50%);
    width: 70%;
    height: auto;
}

#mediafake {
    position: absolute;
    left: 2%;
    top: 5%;
    width: 8%;
}

/* MAIN */

#main {
    position: relative;
    margin: -5rem auto 0;
    width: var(--w);
    background: rgb(217,255,55);
    background: linear-gradient(-45deg, rgba(217,255,55,1), rgba(143,238,18,1) 45%);
    padding: 2rem 0 1rem;
}

#title {
    margin-bottom: 0.2rem;
    font-family: 'Gurajada', serif;
    font-size: 5rem;
    letter-spacing: 0.15rem;
    line-height: 3.5rem;
    text-align: center;
    color: rgb(214, 8, 18);
    text-shadow: 0 0 0.4rem white, 0 0 0.6rem white, 0 0 1rem white;
}

#description {
    margin: 0 auto;
    font-family: 'RocknRoll One', sans-serif;
    font-size: 1    rem;
    font-weight: 500;
    text-align: center;
}

/* MAIN -- FORM -- BG */

#survey {
    position: relative;
    width: calc(var(--w) + var(--increment));
    background-image: linear-gradient(145deg, #831079,  #4e1049);
    margin: 1rem auto;
    border-radius: 0.5rem;
    padding: 0.5rem 0;
    z-index: 0;
    filter: brightness(110%);
}

#survey::after {
    content:"";
    position:absolute;
    z-index:-1;
    top:0.1rem;
    left:0.1rem;
    right:0.1rem;
    bottom: 0.1rem;
    border-radius:inherit;
    background:linear-gradient(145deg, #4e1049,  #831079);
  }

/* MAIN -- FORM -- FIELDS */

#survey-form {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.fgroup {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    width: 90%;
    padding-bottom: 0.5rem;
    margin: 0.5rem auto;
    color: white;
}

label {
    display: inline-block;
    font-size: 1rem;
    font-weight: 400;
    text-align: left;
    margin: 0 0.5rem 0.5rem 0;
    min-width: 30%;
}

.fcontrol {
    height: 1.2rem;
    width: 100%;
    border-radius: 0.4rem;
    border: 1px solid white;
    padding-left: 0.5rem;
    padding-bottom: 0.2rem;
    box-shadow: 0 0 0.1rem 0.1rem white, 0 0 0.1rem 0.1rem black;
    font-size: 0.8rem;
    font-family: 'RocknRoll One', sans-serif;
    font-weight: 500;
    color: darkslategray;
}

.fcontrol:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(143,238,18);
  }

select:invalid, ::placeholder {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    font-size: 0.7rem;
    height: 1.4rem;
    color: grey;
}

#age {
    width: 43%;
    margin-right: 2%;
}

#vimtoweek {
    width: 43%;
    margin-left: 2%;
}

#know, #vimtotypes {
    width: 96%;
}

#know-options {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    font-size: 0.7rem;
    font-family: 'RocknRoll One', sans-serif;
}

#types-options {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    font-size: 0.7rem;
    font-family: 'RocknRoll One', sans-serif;
}

#know label, #vimtotypes label {
    text-align: center;
}

input[type="checkbox"], input[type="radio"] {
    margin-right: 0.3rem;
    min-width: 0.6rem;
    min-height: 0.6rem;
}

#lovetext {
    min-height: 120px;
}

/* SUBMIT BUTTON */

#submit {
    --heart-size: 4rem;
    box-sizing: border-box;
    border: 0.2rem solid white;
    font-family: inherit;
    color: inherit;
    font-size: inherit;
    background-color: red;
    display: inline-block;
    height: var(--heart-size);
    width: var(--heart-size);
    margin: 0.5rem auto 0;
    position: relative;
    transform: rotate(-45deg);
    z-index: 0;
    transition: width 0.1s ease-in-out, height 0.1s ease-in-out;
}

#submit::before, #submit::after {
    content: "";
    background-color: red;
    height: var(--heart-size);
    position: absolute;
    width: var(--heart-size);
    z-index: 0;
    transition: width 0.1s ease-in-out, height 0.1s ease-in-out;
}

#submit::before {
    border-radius: 50% 50% 0 0;
    border-top: 0.2rem solid white;
    border-left: 0.2rem solid white;
    top: calc(var(--heart-size)/-2 - 0.1rem);
    left: -0.2rem;
}

#submit::after {
    border-radius: 0% 50% 50% 0;
    border-bottom: 0.2rem solid white;
    border-right: 0.2rem solid white;
    top: -0.4rem;
    left: calc(var(--heart-size)/2 - 0.5rem);
}

#submit-text {
    font-size: 1.2rem;
    position: absolute;
    z-index: 1;
    transform: rotate(45deg) translateX(-50%);
}

#submit:hover, #submit:hover::before, #submit:hover::after {
    --heart-size: 4.1rem;
    cursor: pointer;
}

/* FOOTER */

footer {
    margin: -1rem auto 1rem;
    width: var(--w);
    position: relative;
    background-color: black;
    color: white;
    font-size: 0.6rem;
    text-align: center;
    bottom: 0;
}

footer a{
    color: rgba(143,238,18,1)
}

footer a:visited {

}

/* RESPONSIVENESS */

@media (max-width: 1400px) {
    :root {
        --w: 80%;
        --increment: 8%;
    }
}

@media (max-width: 1150px) {
    :root {
        --w: 90%;
        --increment: 3%;
    }
}

@media (max-width: 1000px) {
    :root {
        --w: 100%;
        --increment: -4%;
    }
}

@media (max-width: 900px) {
    #types-options {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 700px) {

    #know-options {
    grid-template-columns: 1fr 1fr;
    }

    #age, #vimtoweek {
        width: 90%;
        margin: 0.5rem auto;
    }

    #title {
        font-size: 12vw;
    }
    
    #description {
        font-size: 2.7vw;
    }
    
}

@media (max-width: 600px) {
    #types-options {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #main {
        width: calc(100% + 20px);
        margin: -5rem -10px 0
    }
    
    footer {
        width: calc(100% + 20px);
        margin: -1rem -10px 0
    }

    #wave {
    position: relative;
    margin: -10px;
    }

    #lovevimto {
        top: 2%;
    }
    
    #mediafake {
        left: 1%;
        top: 2.5%;
        width: 10%;
    }

@media (max-width: 400px) {
    #types-options {
        display: grid;
        grid-template-columns: 1fr;
    }

    #know-options {
        grid-template-columns: 1fr;
        }
}